.sidebar {
    top: 0;
    left: 0;
    height: calc(100vh - 85px);
    width: 260px;
    z-index: 5;
    transition: width 0.5s ease;
    border-right: 1px solid var(--color-border);
    background: var(--color-sidebar-bg);
}

    .sidebar.close {
        width: 70px;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 10px;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        padding: 0 10px;
        position: relative;
        list-style: none;
        border-radius: 5px;
        transition: all 0.4s ease;
    }

        .sidebar .nav-links li .iocn-link {
            display: flex;
            align-items: center;
        }

    .sidebar.close .nav-links li .iocn-link {
        display: block
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 30px;
        text-align: center;
        line-height: 50px;
        color: var( --color-text-sub);
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }

    .sidebar.close .nav-links i.arrow {
        display: none;
    }

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .sidebar .nav-links li a .link_name {
            font-size: 14px;
            font-weight: 400;
            color: var( --color-text-sub);
            padding-left: 5px;
            transition: all 0.4s ease;
        }

    .sidebar.close .nav-links li a .link_name {
        display: none;
        pointer-events: none;
    }

    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 57px;
        margin-top: -10px;
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 1rem;
        height: 1rem;
        background: inherit;
        top: 0.85rem;
        left: -9px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-bottom-left-radius: 0.125rem;
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: var(--color-border);
    }

    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }

    .sidebar .nav-links li .sub-menu a {
        color: var( --color-bs-secondary);
        font-size: 15px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.8;
        transition: all 0.3s ease;
    }

        .sidebar .nav-links li .sub-menu a:hover {
            opacity: 1;
        }

    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 60px;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
        background: var(--color-sidebar-bg);
        border: 1px solid var(--color-border);
        color: var(--color-text-sub);
    }

    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
        color: var(--color-text-sub);
    }

    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }

.sidebar .profile-details {
    border: none;
    border-top: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 260px;
    display: flex;
    align-items: center;
    background: var(--color-sidebar-bg);
    padding: 6px 20px;
    transition: width 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
    width: 70px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details .profile_name {
    color: var( --color-text-sub);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details .name-job{
    display: none;
}

@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
}