<div class="col-12">
    <div class="product-item mb-3 w-100 py-1">
        <div class="row g-0">
            <div class="col-2 py-3 d-flex justify-content-center">
                <div class="placeholder-glow">
                    <p class="placeholder p-5 w-100 mb-0"></p>
                </div>
            </div>
            <div class="col-10">
                <div class="row g-0 h-100">
                    <div class="col-md-8 col-sm-12">
                        <div class="product-item-detail p-3 ps-0 h-100 d-flex flex-column">
                            <h5 class="card-title placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </h5>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-8"></span>
                                <span class="placeholder col-12"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="product-item-action h-100 p-3 border-start border-1">
                            <h5 class="card-title placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </h5>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-7"></span>
                                <span class="placeholder col-12"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@code {

}
