.dxbl-checkbox-radio {
    padding: 15px !important;
    border: 1px solid #d9d9d9;
}

    .dxbl-checkbox-radio label {
        width: 100%;
    }

input[type="radio"] {
    border-radius: 100%;
    border-color: #d9d9d9;
    background-color: white;
    border: 1px solid;
}

    input[type="radio"]:checked {
        border-width: 6px;
        border-color: #030304;
    }